<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Departments</title>
    <link th:rel="stylesheet"   
    th:href="@{/webjars/bootstrap/5.0.2/css/bootstrap.min.css}"/>
    <script   
    th:src="@{/webjars/bootstrap/5.0.2/js/bootstrap.bundle.min.js}">
    </script>
</head>
<body>
    <div th:replace="~{menu :: header (page='departments')}"></div>

    <div class="container">
        <br>
        <h1>Department Data</h1>
        <br>

        <form
            th:object="${department}"
            th:action="@{/departments/create}"
            method="post"
        >   
            <input id="id" type="hidden" th:field="*{id}">
            <div class="form-group">
                <label for="name" class="form-label">Name</label>
                <input class="form-control" id="name" type="text" th:field="*{name}">
            </div>
            <br>
            <button class="btn btn-primary" type="submit">Create</button>
        </form>
    </div>
</body>
</html>