<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link th:rel="stylesheet" 
    th:href="@{/webjars/bootstrap/5.0.2/css/bootstrap.min.css}"/>
    <script 
    th:src="@{/webjars/bootstrap/5.0.2/js/bootstrap.bundle.min.js}">
    </script>
</head>
<body>
    <div th:replace="~{menu : header (page='')}"></div>

    <div class="container">
        <br>
        <h1>Login</h1>
        <br>

        <div th:if="${param.error}" class="alert alert-danger">
            Email/password incorrect
        </div>

        <form th:action="@{/login}" metod="post">
            <div class="form-group col-span-4">
                <input class="form-control" type="text" name="username" placeholder="Username">
            </div>
            <br>

            <div class="form-group col-span-4">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>

            <input class="btn btn-primary" value="Login" type="submit"/>
        </form>
    </div>
</body>
</html>