<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Login</title>
  <link th:rel="stylesheet" 
  th:href="@{/webjars/bootstrap/5.0.2/css/bootstrap.min.css}"/>
  <script   
  th:src="@{/webjars/bootstrap/5.0.2/js/bootstrap.bundle.min.js}">
  </script>
</head>
<body>
<div th:replace="~{menu :: header (page='')}"></div>
<div class="container">
  <h1>Logout from the System</h1>
  <h4>Click here to confirm your intencion in Logging out.</h4>
  <form th:action="@{/logout}" method="post">
    <input type="submit" class="btn btn-danger" value="Logout" />
  </form>
</div>
</body>
</html>
